@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@600&family=Mulish:wght@600&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root {
  --ff-primary : "Montserrat";
  --ff-secondary : "Roboto",sans-serif;
  --ff-tertiary : "Inter" , sans-serif;
  --ff-quaternery : "Poppins", sans-serif;
  --ff-last : "Mulish", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
