.links {
  max-width: 1450px;
  margin: 30px auto;
}

.links_inner_div {
  width: 69%;
  margin-left: 5%;
}
.links_content {
  margin-top: 60px;
  margin-bottom: 20px;
}

.links_head {
  font-family: var(--ff-last);
  font-weight: 700;
  font-size: 3rem;
}
.serving_links_content {
  margin-top: 30px;
  margin-bottom: 20px;
}

.serving_links_head {
  font-family: var(--ff-last);
  font-weight: 700;
  font-size: 2.5rem;
}

.areas li {
  display: inline-block;
  margin-left: 5px;
  font-family: var(--ff-secondary);
  font-weight: 400;
  font-size: 1.5rem;
  color: #7c7c7c;
}

.areas li span {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  cursor: pointer;
  /* padding-left:3px; */
}
.areas li span::marker {
  margin: 0;
}

.available_links_content {
  margin-top: 30px;
  margin-bottom: 20px;
}

.available_links_head {
  font-family: var(--ff-last);
  font-weight: 700;
  font-size: 2.5rem;
}


.links a{
  font-family: var(--ff-last);
  font-weight: 700;
  font-size: 1.52rem;
  color: #7c7c7c;
  margin-left: 20px;
}