.service_card{
    width: 100%;
    /* box-shadow: 0px 4px 4px 0px #00000040; */
    border: 1px solid #D9D9D9;
}

.service_card:hover{
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: 4ms;
}

.image{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.service_card_note{
    display: flex;
    gap: 6px;
    padding: 5px 20px;
}

.service_card_title{
    font-family: var(--ff-last);
    font-weight: 700;
    font-size: 1.6rem;
    margin: 10px 1.3em;
}

.service_card_description{
    font-family: var(--ff-last);
    font-weight: 700;
    font-size: 1.3rem;
}
.service_card_price_bio{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4% 0 5%;
    padding: 4% 0 8% 0;
}

.service_card_caution{
    font-family: var(--ff-last);
    font-weight: 600;
    font-size: 1.3rem;
    color: #123BA3;
    cursor: pointer;

}

.service_card_price{
    font-family: var(--ff-last);
    font-weight: 800;
    font-size: 2.5rem;

}

.service_card_btn{
    cursor: pointer;
    font-family: var(--ff-last);
    font-weight: 600;
    font-size: 1.3rem;
    padding: 8px 9px;
    color: #ffff;
    background-color: #123BA3;
    border: 0;
    border-radius: 6%;
}

.modal{
    color: white;
    background-color: #123BA3;
    border-radius: 6px;
    position: absolute;
    top: -25px;
    left: 50px;
    z-index: 10;
}

.modal_desc{
    font-family: var(--ff-last);
    font-weight: 600;
    font-size: 1.3rem;
    padding: 10px 10px;
    text-align:center ;
}